/build/
/vivado/project/*
!/vivado/project/*.xpr
!/vivado/project/mlkem_pynqz2.srcs/
/vivado/project/mlkem_pynqz2.srcs/*
!/vivado/project/mlkem_pynqz2.srcs/sources_1/
/vivado/project/mlkem_pynqz2.srcs/sources_1/*
!/vivado/project/mlkem_pynqz2.srcs/sources_1/ip/
/vivado/project/mlkem_pynqz2.srcs/sources_1/ip/*
!/vivado/project/mlkem_pynqz2.srcs/sources_1/ip/mlkem_profile_vio/
/vivado/project/mlkem_pynqz2.srcs/sources_1/ip/mlkem_profile_vio/*
!/vivado/project/mlkem_pynqz2.srcs/sources_1/ip/mlkem_profile_vio/mlkem_profile_vio.xci
/hls/.Xil/
/.Xil/
*.jou
*.log
*.backup.*
*.str
*.wdb
*.wcfg
*.dcp
*.bit
!/release/*.bit
*.bin
*.elf
__pycache__/
Thumbs.db
dfx_runtime.txt
.hls.failed
.hls.success
